<!-- content
   ================================================== -->
<section id="content-wrap" class="blog-single">
	<div class="row">
		<div class="col-twelve">
			<article class="format-standard">
				<div class="content-media">
					<div class="post-thumb">
						<img src="images/learn/first-time.jpg">
					</div>
				</div>
				<div class="primary-content">
					<h1 class="page-title">First time Investor: must read tips</h1>

					<ul class="entry-meta">
						<li class="date">September 11, 2017</li>
						<li class="cat"><a href="">Beginner</a></li>
					</ul>

					<p class="lead">
						Insights from book: <a href="http://amzn.to/2gczQvX">STOCK TO RICHES by Parag Parikh</a>
					</p>

					<p>It is wonderful that you have decided to get started with an investment in stock market. But remember there are no short
						cuts in this path. During your journey as an investor you will definitely learn a lot about market and lot of things.
						All this learning will help you to become a smart investor. Remember, as becoming a doctor, engineer or learning any
						other occupation takes time so is the investment. You cannot become a successful investor overnight. Becoming an investor
						is your choice but being a successful investor thought an act of discipline.
					</p>


					<h2>Brief from book</h2>

					<p>
						<ol>
							<li>Obvious prospects for physical growth in a business do not translate into obvious profits for an investor. </li>
							<li>People curse markets to be ruthless and wealth destroyer etc. But it is not always the case.</li>
							<li>It matters that which company shares are you going to buy but what matters most is what price you paid for it to buy.</li>
							<li>You should keep individual stock exposure to around 10% and an industry exposure to 20%. This will help in getting
								you more profits in long term.</li>
							<li>Before starting any investment write down your vision for your portfolio.</li>
							<li>Whenever you invest in any stock you should write the rationale behind each investment. This could also be applicable
								for mutual funds.</li>
							<li>If you are deciding not to do anything that also is a decision. Sometimes we decide to sell a stock which has appreciated
								in value but later on not acting on our decision is also a decision.</li>
							<li>Never get married to stocks or any type of investment vehicles. Every investment vehicles have purpose and once that
								is achieved you should sell that vehicle.</li>
							<li>Never get carried away with free lunches in stocks and AGM (annual general meetings). Usually, companies go for share
								split or give bonus shares to their shareholder to achieve their purpose. Everyone usually become overwhelmed with
								this cause and start acting regards to this.</li>
							<li>Beauty may lie in the eye of the beholder but value often lies in the eyes of buyers.</li>
							<li>Past performance is no guarantee for future performance.</li>
						</ol>
					</p>

					<blockquote>
						<p>I hope this piece of information will be insightful. Thanks for reading.</p>
					</blockquote>


				</div>
		</div>
		<!-- end author-profile -->

	</div>
	<!-- end entry-primary -->
</section>
<!-- end content -->