<div id="top">
	<section id="content-wrap" class="blog-single">
		<div class="row">
			<div class="col-twelve">

				<article class="format-standard">

					<div class="content-media">
						<div class="post-thumb">
							<img class="ipo-img" src="images/learn/ipo.jpg">
						</div>
					</div>

					<div class="primary-content">

						<h1 class="page-title">All you need to know about IPO</h1>

						<ul class="entry-meta">
							<li class="date">September 10, 2017</li>
							<li class="cat"><a href="">Jalaj Khajotia</a></li>
						</ul>
						<p>In the present scenario, it is very unlikely to that you have not heard about IPO. IPO stands for an Initial public
							offering and a company can go for IPO only once, though a company can raise money through other sources as well.

						</p>
						<p class="lead">
							<h4 class="h4-text">Need for IPO? </h4>
							IPO allows a company to raise funds from a large number of people and it also allows a company to get listed on stock exchanges
							(NSE/BSE). As everyone knows for doing business money or capital is needed and IPO is one source through which they
							can raise money.
						</p>
						<div class="img-center"><img src="images/learn/capital.jpg" alt=""></div>

						<h2>How IPO will help a company?</h2>
						<p>
							Apart from providing funds for the growth of the company, IPO also helps in providing an exit for existing investors.</p>

						<blockquote>
							<p>
								<h4 class="h4-text">Fresh Issue</h4>
								Fresh Issue refers to the issue of shares to be issued by the Company.
								<br/>
								<h4 class="h4-text">Offer for Sale</h4>
								Offer for Sale refers to the shares which the selling shareholders proposes to sale as part of the proposed issue.
							</p>
						</blockquote>

						<p>
							<h4 class="h4-text">How to apply for an IPO? </h4>
							Applications for IPO are allowed through a bidding system. Here one has to bid for the price between the prescribed limit
							and number of shares one wants to get allotted. There is minimum and maximum limit for the number of shares one can
							purchase. Nowadays, IPO Applications are processed through ASBA. The amount remains blocked in your bank account for
							the IPO application.The amount is debited only when the shares are allotted to you.</p>


						<p>
							<h3>How IPO proceeds?</h3>
							Whenever a company decides to go for an IPO, it generally hires an investment bank. Investment bank prepares a Red herring
							prospectus and also decide the base price for the shares which will be going to be issued to the public. Finally,
							a company needs permission from SEBI in order to get listed on the exchanges. Once the approval is given, usually
							within few week the company get listed on exchanges.
						</p>

						<p>
							<h3>When IPO company get listed?</h3>
							Usually, the company get listed within 10 days of bidding application closure.
						</p>

						<p>
							<h3>When one can sell IPO shares?</h3>
							You can sell the allotted shares as soon as the company get listed on the exchanges.
						</p>

						I hope this will be useful. Thanks for reading.

						<p class="tags">
							<span>Tagged in :</span>
							<a href="#">IPO</a>
						</p>

						<!-- <div class="author-profile">
							<img src="images/avatars/user-05.jpg" alt="">

							<div class="about">
								<h4><a href="#">Admin</a></h4>

								<p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil
									nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</p>

								<ul class="author-social">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">GooglePlus</a></li>
									<li><a href="#">Instagram</i></a></li>
								</ul>
							</div>
						</div> -->
						<!-- end author-profile -->

					</div>
					<!-- end entry-primary -->
				</article>
			</div>
			<!-- end col-twelve -->
		</div>
		<!-- end row -->

		<div style="width:70%;margin:auto">
			<div ng-if="fbComments">
				<div class="fb-comments" fb-comment-box page-href="{{fbComments}}" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
			</div>
		</div>
		<!-- end comments-wrap -->

	</section>
	<!-- end content -->
</div>
<script>

</script>