<div id="top">
	<section id="content-wrap" class="blog-single">
		<div class="row">
			<div class="col-twelve">

				<article class="format-standard">

					<div class="content-media">
						<div class="post-thumb">
							<img class="ipo-img" src="images/learn/ipo.jpg">
						</div>
					</div>

					<div class="primary-content">

						<h1 class="page-title">All you need to know about IPO</h1>

						<ul class="entry-meta">
							<li class="date">September 10, 2017</li>
							<li class="cat"><a href="">Jalaj Khajotia</a></li>
						</ul>
						<p>In the present scenario, it is very unlikely to that you have not heard about IPO. IPO stands for an Initial public
							offering and a company can go for IPO only once, though a company can raise money through other sources as well.

						</p>
						<p class="lead">
							<h4 class="h4-text">Need for IPO? </h4>
							IPO allows a company to raise funds from a large number of people and it also allows a company to get listed on stock exchanges
							(NSE/BSE). As everyone knows for doing business money or capital is needed and IPO is one source through which they
							can raise money.
						</p>
						<div class="img-center"><img src="images/learn/capital.jpg" alt=""></div>

						<h2>How IPO will help a company?</h2>
						<p>
							Apart from providing funds for the growth of the company, IPO also helps in providing an exit for existing investors.</p>

						<blockquote>
							<p>
								<h4 class="h4-text">Fresh Issue</h4>
								Fresh Issue refers to the issue of shares to be issued by the Company.
								<br/>
								<h4 class="h4-text">Offer for Sale</h4>
								Offer for Sale refers to the shares which the selling shareholders proposes to sale as part of the proposed issue.
							</p>
						</blockquote>

						<p>
							<h4 class="h4-text">How to apply for an IPO? </h4>
							Applications for IPO are allowed through a bidding system. Here one has to bid for the price between the prescribed limit
							and number of shares one wants to get allotted. There is minimum and maximum limit for the number of shares one can
							purchase. Nowadays, IPO Applications are processed through ASBA. The amount remains blocked in your bank account for
							the IPO application.The amount is debited only when the shares are allotted to you.</p>


						<p>
							<h3>How IPO proceeds?</h3>
							Whenever a company decides to go for an IPO, it generally hires an investment bank. Investment bank prepares a Red herring
							prospectus and also decide the base price for the shares which will be going to be issued to the public. Finally,
							a company needs permission from SEBI in order to get listed on the exchanges. Once the approval is given, usually
							within few week the company get listed on exchanges.
						</p>

						<p>
							<h3>When IPO company get listed?</h3>
							Usually, the company get listed within 10 days of bidding application closure.
						</p>

						<p>
							<h3>When one can sell IPO shares?</h3>
							You can sell the allotted shares as soon as the company get listed on the exchanges.
						</p>

						I hope this will be useful. Thanks for reading.

						<p class="tags">
							<span>Tagged in :</span>
							<a href="#">orci</a><a href="#">lectus</a><a href="#">varius</a><a href="#">turpis</a>
						</p>

						<div class="author-profile">
							<img src="images/avatars/user-05.jpg" alt="">

							<div class="about">
								<h4><a href="#">Jonathan Smith</a></h4>

								<p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil
									nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</p>

								<ul class="author-social">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">GooglePlus</a></li>
									<li><a href="#">Instagram</i></a></li>
								</ul>
							</div>
						</div>
						<!-- end author-profile -->

					</div>
					<!-- end entry-primary -->

					<div class="pagenav group">
						<div class="prev-nav">
							<a href="#" rel="prev">
									 <span>Previous</span>
									 Tips on Minimalist Design 
								 </a>
						</div>
						<div class="next-nav">
							<a href="#" rel="next">
									  <span>Next</span>
									 Less Is More 
								  </a>
						</div>
					</div>

				</article>


			</div>
			<!-- end col-twelve -->
		</div>
		<!-- end row -->

		<div class="comments-wrap">
			<div id="comments" class="row">
				<div class="col-full">

					<h3>5 Comments</h3>

					<!-- commentlist -->
					<ol class="commentlist">

						<li class="depth-1">

							<div class="avatar">
								<img width="50" height="50" class="avatar" src="images/avatars/user-01.jpg" alt="">
							</div>

							<div class="comment-content">

								<div class="comment-info">
									<cite>Itachi Uchiha</cite>

									<div class="comment-meta">
										<time class="comment-time" datetime="2014-07-12T23:05">Jul 12, 2014 @ 23:05</time>
										<span class="sep">/</span><a class="reply" href="#">Reply</a>
									</div>
								</div>

								<div class="comment-text">
									<p>Adhuc quaerendum est ne, vis ut harum tantas noluisse, id suas iisque mei. Nec te inani ponderum vulputate, facilisi
										expetenda has et. Iudico dictas scriptorem an vim, ei alia mentitum est, ne has voluptua praesent.</p>
								</div>

							</div>

						</li>

						<li class="thread-alt depth-1">

							<div class="avatar">
								<img width="50" height="50" class="avatar" src="images/avatars/user-04.jpg" alt="">
							</div>

							<div class="comment-content">

								<div class="comment-info">
									<cite>John Doe</cite>

									<div class="comment-meta">
										<time class="comment-time" datetime="2014-07-12T24:05">Jul 12, 2014 @ 24:05</time>
										<span class="sep">/</span><a class="reply" href="#">Reply</a>
									</div>
								</div>

								<div class="comment-text">
									<p>Sumo euismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod urbanitas
										ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et tantas semper delicatissimi.</p>
								</div>

							</div>

							<ul class="children">

								<li class="depth-2">

									<div class="avatar">
										<img width="50" height="50" class="avatar" src="images/avatars/user-03.jpg" alt="">
									</div>

									<div class="comment-content">

										<div class="comment-info">
											<cite>Kakashi Hatake</cite>

											<div class="comment-meta">
												<time class="comment-time" datetime="2014-07-12T25:05">Jul 12, 2014 @ 25:05</time>
												<span class="sep">/</span><a class="reply" href="#">Reply</a>
											</div>
										</div>

										<div class="comment-text">
											<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit
												amet nibh vulputate cursus a sit amet mauris</p>
										</div>

									</div>

									<ul class="children">

										<li class="depth-3">

											<div class="avatar">
												<img width="50" height="50" class="avatar" src="images/avatars/user-04.jpg" alt="">
											</div>

											<div class="comment-content">

												<div class="comment-info">
													<cite>John Doe</cite>

													<div class="comment-meta">
														<time class="comment-time" datetime="2014-07-12T25:15">July 12, 2014 @ 25:15</time>
														<span class="sep">/</span><a class="reply" href="#">Reply</a>
													</div>
												</div>

												<div class="comment-text">
													<p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus
														dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
												</div>

											</div>

										</li>

									</ul>

								</li>

							</ul>

						</li>

						<li class="depth-1">

							<div class="avatar">
								<img width="50" height="50" class="avatar" src="images/avatars/user-02.jpg" alt="">
							</div>

							<div class="comment-content">

								<div class="comment-info">
									<cite>Shikamaru Nara</cite>

									<div class="comment-meta">
										<time class="comment-time" datetime="2014-07-12T25:15">July 12, 2014 @ 25:15</time>
										<span class="sep">/</span><a class="reply" href="#">Reply</a>
									</div>
								</div>

								<div class="comment-text">
									<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
								</div>

							</div>

						</li>

					</ol>
					<!-- Commentlist End -->

					<!-- respond -->
					<div class="respond">

						<h3>Leave a Comment</h3>

						<form name="contactForm" id="contactForm" method="post" action="">
							<fieldset>

								<div class="form-field">
									<input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
								</div>

								<div class="form-field">
									<input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
								</div>

								<div class="form-field">
									<input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website" value="">
								</div>

								<div class="message form-field">
									<textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
								</div>

								<button type="submit" class="submit button-primary">Submit</button>

							</fieldset>
						</form>
						<!-- Form End -->

					</div>
					<!-- Respond End -->

				</div>
				<!-- end col-full -->
			</div>
			<!-- end row comments -->
		</div>
		<!-- end comments-wrap -->

	</section>
	<!-- end content -->
</div>