<div id="content-wrap" class="styles">

	<div class="row narrow add-bottom text-center">
		<div class="col-twelve tab-full">
			<h1>How to use MoneyControl mobile app for Investing?</h1>
			<p class="lead">MoneyControl is most popular financial resource available freely. It is very good for check the facts quickely.
			</p>
		</div>

	</div>

	<div class="row">
		<div class="col-twelve">
			<h3>What it can give?</h3>
			<p>
				Nowadays mobile is in use everywhere and we have tons of mobile app to make our life easy. MoneyControl is very popular among
				investor and traders as it provides brief stock updates and latest information about companies listed on exchanges. MoneyControl
				also provides full information about company financial reports like P/L and balance sheets. It can be easily used at
				a primary level of research for any company.
			</p>
		</div>
	</div>

	<div class="row">

		<div class="col-six tab-full">
			<p>
				<div class="img-center"><img class="moneycontrol" src="images/learn/money1.png"></div>
			</p>
		</div>

		<div class="col-six tab-full">

			<h3>Basic Features</h3>

			<strong>The homepage of mobile app</strong>

			<p>On the home page, it lists Indian and global indices. I guess everyone will be familiar with Nifty 50 and Sensex.
			</p>
			<p>
				<strong>Nifty SML 100 Free</strong>- Index consists of top 100 small cap companies. <br/>
				<strong>Nifty Mid 100 Free</strong>- Index consists of top 100 mid cap companies.
			</p>
			<p>
				<strong>Nasdaq </strong>- Index of American stock exchange<br/>
				<strong>Dax</strong> - Index of Frankfurt Stock Exchange
			</p>
			<p>
				<strong>My portfolio </strong>- This section could be used to track all your investments on daily basis. You can add
				stock, mutual funds, loans and other fixed sources of income.
			</p>
		</div>

	</div>
	<!-- end row -->
	<div class="row">
		<div class="col-twelve tab-full">
			<p>
				Now let us check the main page of any stock. For reference, we will be discussing Ujjivan Financial.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-six tab-full">
			<div class="img-center"><img class="moneycontrol" src="images/learn/money2.png"></div>
		</div>

		<div class="col-six tab-full">
			<p>
				<strong>Last Traded Price</strong>- It is shown on the top i.e. 358.30. Also known as current market price (CMP). <br/>
				<strong> Volume </strong>- Total number of contracts traded for this particular stock. Here the value is 11,123,451.
				<br/>
				<strong>Bid Price and Offer Price</strong>- Bid price is the last price, which a buyer is willing to pay. The offer price
				is the last price at which a seller is ready to sell. Note, this data keep on changing per second. For more information,
				you should refer Market Depth. <br/>
				<strong> Today's Low/High </strong>- this is the maximum and minimum price at which stock traded during the day. <br/>
				<strong> L/U Price Band</strong>- Lower and upper price band is the minimum and maximum price at which stock could trade
				in a day. It prevents unwanted volatility in the market. <br/>
				<strong>52WK Low/High</strong>- It is the maximum and minimum traded price of the stock in a year.
			</p>
		</div>
	</div>
	<!-- end row -->
	<br/>
	<div class="row">
		<div class="col-six tab-full">
			<div class="img-center"><img class="moneycontrol" src="images/learn/money3.png"></div>
		</div>

		<div class="col-six tab-full">
			<p>
				<strong>Market Capitalization</strong> - It is the product of current stock price and total no. of free shares of the
				company. <br/>

				<strong>EPS (earning per share)</strong> - profits earned per share. It is calculated by dividing total profits by total
				no. of shares. It signifies profitability of the company and individual share.<br/>

				<strong>P/E(Price to earning ratio)</strong> - Refer to the division of stock price by EPS. It signifies how much valuation
				in the market of the company. A high P/E denotes people are bullish on the stock and are expecting higher earning growth
				in coming time.
				<br/>
				<strong>Book Value</strong> -It gives a rough idea about the true value of the company. It is usually for evaluating
				financial companies. For rest of companies it could be manipulated easily.
				<br/>
				<strong>Dividend</strong> - It the money paid by company from profits to its shareholder
				<br/>
				<strong>Dividend Yield</strong> - Actual dividend is usually misleading so people use div. yield as a factor to compare
				stocks and to find total dividend paid by the company over a year. The dividend yield could be calculated as dividend
				yield percentage of CMP.
				<br/>
				<strong>Market lot</strong>- It is one for equity shares.
				<br/>
				<strong>Face value</strong> - It is the legal capital of each share of stock. This is mainly used to pay and calculate
				dividends.
				<br/>
				<strong>Industry P/E</strong> - Average P/E of companies in the same sector.
				<br/>
				<strong>Deliverable</strong> - Percentage of shares which exchanged hands on a day. So here only 17.46% shares of total
				volume exchanged hands and rest were only traded during.
			</p>
		</div>
	</div>
	<div class="row half-bottom">

		<div class="col-twelve tab-full">
			I hope this brief article has helped you in increasing you understanding about using Moneycontrol app.
		</div>
		<br/>
		<br/>
	</div>
</div>
<!-- end styles -->