<section id="content-wrap" class="blog-single">
	<div class="row">
		<div class="col-twelve">

			<article class="format-standard">

				<div class="content-media">
					<div class="img-center">
						<img class="image" src="images/learn/journey.jpg">
					</div>
				</div>

				<div class="primary-content">

					<h1 class="page-title">My Journey in Stock Markets </h1>

					<ul class="entry-meta">
						<li class="date">September 14, 2017</li>
						<li class="cat"><a href="">Beginner</a><a href="">Stocks</a></li>
					</ul>

					<p class="lead">From the beginning, I was having a strong urge to explore about stock/share market. Yeah! I know most of you know about
						it and refer it as gambling, satta bazar etc. Still there was a curious mind inside me which was looking for new latter
						to climb on.</p>

					<p>My journey started with opening an account with FUNDSINDIA. It is a broker which provide purchasing mutual funds and
						trading services. I was very keen to buy my first share. Eventually, I brought my first 20 SBI shares. Those shares
						I am still holding and they have grown over 15% since I bought them. Now coming to my background, I was already having
						a decent knowledge of Mutual Funds and general financial instruments. Till now I have mainly invested in bank FDs and
						MFs.
					</p>
					<p>Let me tell you MFs and stock markets are entirely different as in the first one your money + others pooled money will
						be actively managed by some experienced person and in the later one you will be only managed by you. So if some fine
						day stock market crashes then you will instantaneously get the shock.</p>

					<h4>My few observations</h4>

					<p>
						<ol>
							<li>
								<strong>With greater risks, comes great rewards:</strong> So is the case with stock markets. If you willing and can
								put your time in learning about stocks then you should definitely try it.
							</li>
							<li><strong>Take the calculated risk:</strong> Don't just go and buy a stock because someone has just said to buy it.
								This kind of strategy could fetch you some money but for the long term, it could doom you. </li>
							<li><strong>Park some liquid cash in your account for your living:</strong> Don't listen to others who are stopping you
								from entering here. But make sure whatever you are investing is your surplus cash and is not needed actively for
								you living. </li>
							<li><strong>Make your investment strategy:</strong> You should be at least sure for how long you are going to invest.
								This kind of decision could vary from time to time and also depends on your short and long term goals. Just make
								sure whatever you do try to have faith and discretion in your decision.</li>
							<li><strong>Last but not least:</strong> open your trading account with discounted broker. There are numbers of brokers
								available online which provides a trading platform and a Demat account. Some of them also provide stock recommendations.
								But make sure to see their brokerage charge before filling the application form. Later on, I also opened an account
								with Zerodha.</li>
						</ol>
					</p>
					<p>I also an amateur stock market investor and may be like you, I am still learning and exploring this new area of trading.
						Don't be afraid of new terms or things you don't understand. Cheers.!!</p>
				</div>
				<!-- end entry-primary -->
			</article>
		</div>
		<!-- end col-twelve -->
	</div>
	<!-- end row -->
</section>