<div id="content-wrap" class="styles">
	<div class="row narrow add-bottom text-center">
		<div class="col-twelve tab-full">
			<h1>
				<a href="https://zerodha.com/open-account?c=ZU3748">Open an trading and demat account</a>
			</h1>
			<p class="lead">
				As a swordsman keep his sword sharp enough, you should also use best resources available for trading or investment.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-twelve">
			<!-- <h3>Paragraph and Image</h3> -->

			<p>
				<img width="120" height="120" class="pull-left" alt="sample-image" src="images/learn/swordsman.jpg"> As you will be aware
				that you need and a demat and trading account in order to do investment in stock market. There are tons of brokers who
				provide both and charge their customer on flat or percentage basis.
			</p>

			<p>
				I have been using Zerodha for a year. I have been impressed with the their platform which is quite impressive. They charges
				are also transparent and flat against other brokers who usually charge percentage basis. Zerodha do not charge anything
				for delivery based trading. Delivery based trading means you buy a stock and sell it after a day, i.e. same day buying
				and selling is not included in delivery based trading.
			</p>
			<p class="lead">
				<a href="https://zerodha.com/open-account?c=ZU3748">Open an online trading and demat account with Zerodha and enjoy the lowest brokerage</a>
			</p>
			<p>
				Have look on their clean and elegant UI.
				<img class="ipo-img" src="images/learn/zerodha.jpg">
			</p>
			<div class="row add-bottom">
				<div class="col-twelve">
					<h3> List of charges for account are as follows</h3>
					<div class="table-responsive">
						<table>
							<thead>
								<tr>
									<th>Type</th>
									<th>Charges</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td> Trading Account Opening Charges (One Time)</td>
									<td>₹300</td>
								</tr>
								<tr>
									<td>Trading Annual Maintenance Charges AMC (Yearly Fee)</td>
									<td>₹0 (Free)</td>
								</tr>

								<tr>
									<td> Demat Account Opening Charges (One Time)</td>
									<td>₹100</td>
								</tr>
								<tr>
									<td>Demat Account Annual Maintenance Charges AMC (Yearly Fee)</td>
									<td>₹300</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<p>
				Some long term investors get worried that whether they should go for a new brokers such as Zerodha. Zerodha is been operational
				for 7 years. Any investor should not worry about Zerodha or any broker as their holdings (shares purchased) lies with
				CDSL/NSDL. And your broker is just an intermediary between you and the stock exchange.

			</p>
			<p class="lead">
				<a href="https://zerodha.com/open-account?c=ZU3748">Open an online trading and demat account with Zerodha and enjoy the lowest brokerage</a>
			</p>

			<p>
				In the end you can choose any broker whichever make you feel comfortable. <br/> I hope this post has been informational.
			</p>
		</div>
	</div>
	<!-- end row -->


</div>