<section id="content-wrap" class="blog-single">
    <div class="row">
        <div class="col-twelve">

            <article class="format-standard">

                <div class="content-media">
                    <div class="img-center">
                        <img src="images/learn/richdad.jpg">
                    </div>
                </div>

                <div class="primary-content">

                    <h1 class="page-title">How to make money work for you: Insights from Rich Dad Poor Dad</h1>

                    <ul class="entry-meta">
                        <li class="date">September 15, 2017</li>
                        <li class="cat"><a href="">Wordpress</a><a href="">Design</a></li>
                    </ul>

                    <p class="lead">Independence is what everyone desire for very much. We are trying to get it in some or other way. Yet
                        only some of them are able to achieve it. Today I am not talking about getting independence where
                        one nation was ruling another. Those days are not anymore but we were still fighting to get freedom
                        from unnecessary worries.</p>

                    <p>Today I want to talk about financial Independence which still remains an untaught in high school and
                        colleges. We all want to be free from the headache of thinking constantly about money but only a
                        few of us want to take the risk which will make us free from it. Recently I read a book on personal
                        finance which contains pieces of advice which we never got during out schooling and graduation. Here
                        are some of the excerpts from a book Rich Dad Poor Dad by Robert T. Kiyosaki .
                    </p>

                    <p>
                        <ul>
                            <li>The rich don't work for money.</li>
                            <li>It is not how much money you make. It is how much money you keep with you.</li>
                            <li>An asset put money in your pocket but a liability takes money out of your pocket.</li>
                            <li>If you work for money, you give the power to your employer. If money works for you, you keep
                                the power & control it.</li>
                            <li>Often in the real world, it is not the smartest who get ahead, but the bold one.</li>
                            <li>If you waiting for the right time for doing the right thing. Then you are waiting for all the
                                traffic lights to be green for the most part of the journey before even starting your trip.</li>
                            <li>Workers/Employee work hard enough to not get fired & owner pay enough so that workers/Employee
                                won't quit.</li>
                        </ul>
                    </p>

                    <blockquote>
                        <p>Mentioned below are the areas will define success in wealth creation and improve your financial IQ</p>
                    </blockquote>

                    <p>
                        <ul>
                            <li>Accounting</li>
                            <li>Investing</li>
                            <li>Understanding Market</li>
                            <li>The law</li>
                            <li>Tax advantages</li>
                            <li>Protection from lawsuits</li>
                        </ul>
                    </p>

                    <p>Here is the basic difference between business owner and an employee. This is the reason why rich become
                        more rich and poor remain poor.</p>

                    <p class="no-bottom-margin"><strong>What does business owner do?</strong>
                        <ol>
                            <li>They Earn</li>
                            <li>Spend</li>
                            <li>Pay taxes</li>
                        </ol>
                    </p>
                    <p class="no-bottom-margin"><strong>What does a salaried person do?</strong>
                        <ol>
                            <li>Gets Salary</li>
                            <li>Pay taxes</li>
                            <li>Spend</li>
                        </ol>
                    </p>

                    <blockquote>
                        <p class="bold-font">Remember Failure inspires winner. Failure also defeats losers.</p>
                    </blockquote>

                    <p class="no-bottom-margin"> <strong>Now, here are some tips which will get you started in creating wealth for future?</strong></p>

                    <ol>
                        <li>Find a reason greater than reality, <strong>the power of spirit.</strong></li>
                        <li>Make daily choices, <strong> power of choice.</strong></li>
                        <li>Choose your friends carefully, <strong>the power of association.</strong></li>
                        <li>Master a formula & then learn a new one, <strong>the power of learning quickly.</strong></li>
                        <li>Pay yourself first, <strong>the power of self-discipline.</strong></li>
                        <li>Pay your brokers well, <strong>the power of good advice.</strong></li>
                        <li>Be a giver, <strong>the power of getting something for nothing.</strong></li>
                        <li>Use asset to buy luxuries, <strong>the power of focus.</strong></li>
                        <li>Choose heroes, <strong>the power of myth.</strong></li>
                    </ol>

                    <p>Folk, these all are some beautiful pieces from the book <a href="http://amzn.to/2wbWd8G">Rich Dad
                        Poor Dad by Robert T. Kiyosaki</a>. If you want to get financial independence at an early age, do
                        consider following some of his advice. And if you want to dive deep in his thoughts about creating
                        wealth do give a read to his book. Happy wealth building.</p>

                    <p class="tags">
                        <span>Tagged in :</span>
                        <a href="#">orci</a><a href="#">lectus</a><a href="#">varius</a><a href="#">turpis</a>
                    </p>

                    <div class="author-profile">
                        <img src="images/avatars/user-05.jpg" alt="">

                        <div class="about">
                            <h4><a href="#">Jonathan Smith</a></h4>

                            <p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium
                                magni maxime nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor
                                sit amet, consectetur adipisicing elit.
                            </p>

                            <ul class="author-social">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">GooglePlus</a></li>
                                <li><a href="#">Instagram</i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end author-profile -->

                </div>
                <!-- end entry-primary -->


            </article>


        </div>
        <!-- end col-twelve -->
    </div>
    <!-- end row -->
</section>