<div id="content-wrap" class="styles">

	<div class="row narrow add-bottom text-center">

		<div class="col-twelve tab-full">

			<h1>Should you consider stock price while investing in them?</h1>

			<p class="lead">
				With higher prices comes greater rewards or risks?
			</p>

		</div>

	</div>

	<div class="row">

		<div class="col-twelve">

			<h3>When price of any product increases, does it worth always decreases?</h3>
			<p>
				In the generation of smartphone where a new phone is launched every alternate day. And we change smartphone probably every
				2 years. While selecting a new phone, we always decide out budget first and then go for RAM, storage, speed. The same
				thing goes with the stocks. One should decide budget first and the shop. Also for the things which we pay more sometimes
				are more valuable and worthy than others. Then why we are so much obsessed than if a stock is trading at higher prices
				is always expensive to buy. Let us find out.
			</p>

			<p>
				Here we will compare stocks using same common sense which we used while buying smartphone. There are more than 5000 companies
				listed on NSE. Some of the stocks worth more than 50,000 Rs and some below 10 Rs. It doesn't mean that you should go
				and accumulate the stocks which are less than 10 Rs. The stocks which trade below Rs 10 are often termed as Penny stocks.
			</p>
			<div class="img-center"><img src="images/learn/high-stock-price-companies.jpg"></div>
			<p>
				<h3>How to check whether a particular stock is worth buying or not?</h3>
				When anyone is buying stock of a company, it means that person is buying part of the business of the company. This directly
				means that the stock should be valued in terms of the profitability of the running business of the company. So, before
				investing in the company we should evaluate the business on different parameters like present status, future goals, the
				management of the company, the product or services offered by company etc.
			</p>

			<p>
				Note that I have not even discussed the stock price of the company yet because that is the last thing an investor should
				look upon.
			</p>

			<p>
				<h3>Case of MRF & Apollo tyres</h3>
				Let us take an example of a company named MRF, Stock price Rs 64,100. Yes, this stock seems to be very expensive and I am
				sure you will not be willing to buy this stock. but as said above before buying any company we should check the valuations
				of the business.
				<div class="img-center"><img src="images/learn/capture.png"></div>
			</p>
			<p>
				Check the details of competitors of MRF. Above data says some the information about the company. Note that MRF has maximum
				sales turnover and net profit. Which says that the company is doing very good business compared to its peers. Now check
				this data of MRF.
				<div class="img-center"><img src="images/learn/capture 2.png"></div>
			</p>
			<p>
				And this for Apollo tyres
				<div class="img-center"><img src="images/learn/capture 3.png"></div>
			</p>
			<p>
				Have a look on EPS of MRF and Apollo tyres. EPS is the calculated by dividing profit by no. of shares outstanding for a company.
				Clearly, data says that EPS of MRF is 202 times of EPS of Apollo Tyres.
			</p>
			<p>
				Now we know, why MRF is expensive among peers. Its EPS is way higher compared to its peers. The PE ratio of MRF is also less
				than Apollo tyres which tell us that buying MRF is better than Apollo tyres.
			</p>
			<p>There are other factors also responsible which are not considered for checking the valuation of both companies. Hope you
				were able to understand that stock price should be never considered as a factor for investment in any company. Thanks
				for reading.</p>
		</div>
	</div>
</div>